<!--O'Reilly - Accelerated Hands-on Smart Contract Development with Hyperledger Fabric V2
 # farma ledger supply chain network
 # Author: Brian Wu
 # load application page
-->
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Electric</title>
  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link type="text/css" href="/css/main_style.css" rel="stylesheet">
  <script src="/js/admin.js"></script>
</head>

<body>
  <nav class="navbar navbar-light navbar-light" style="background-color: #343a40;margin-top: -3px;">
    <span class="navbar-brand text-white">监管员管理系统</span>
    <p hidden id='username'><%= name %></p>
  </nav>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div id="sidebar-wrapper" class="sidebar-toggle">
        <ul class="sidebar-nav">
          <li id="accountLink" class="nav-menu">
            <a id="menu1" href="#account"><i class="fa fa-user menuIcon"></i>账户操作</a>
          </li>
          <li id="queryLink" class="nav-menu">
            <a id="menu2" href="#query"><i class="fa fa fa-history menuIcon"></i>信息查询</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- tab content -->
  <div class="tab-content page-content">
    <!-- accountTest --->
    <div class="tab-pane active text-style" id="accountTab">
      <div class="alert alert-primary" role="alert">
        <h4>账户操作</h4>
      </div>
      <form>
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label">用户名</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="account-username" value="wizard">
          </div>
        </div>
        <div class="form-group row">
          <label for="money" class="col-sm-2 col-form-label">金额</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="account-money" value="1570">
          </div>
        </div>
        <button id="init" type="submit" class="btn btn-success">初始化</button>
        <button id="active" type="submit" class="btn btn-success">激活</button>
        <button id="recharge" type="submit" class="btn btn-success">充值</button>
      </form>
      <hr>
    </div>
    <!-- query --->
    <div class="tab-pane text-style" id="queryTab">
      <div class="alert alert-primary" role="alert">
        <h4>信息查询</h4>
      </div>
      <form>
        <div class="form-group row">
          <label for="cate" class="col-sm-2 col-form-label">查询类别</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="query-cate" value="account">
          </div>
        </div>
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label">用户名</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="query-username" value="wizard">
          </div>
        </div>
        <button id="single-query" type="submit" class="btn btn-success">最新查询</button>
        <button id="history-query" type="submit" class="btn btn-success">历史查询</button>
        <button id="partial-query" type="submit" class="btn btn-success">范围查询</button>
      </form>
      <hr>


      <div id="queryResult">
        <div id="accountResult">
          <h4 class="display-5 text-center">查询结果</h4>
          <table id="accountTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Amount</th>
                <th scope="col">Balance</th>
                <th scope="col">Permission</th>
                <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody id="accountTableTboday">
            </tbody>
          </table>
        </div>

        <div id="sellResult">
          <h4 class="display-5 text-center">查询结果</h4>
          <table id="sellTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Seller</th>
                <th scope="col">expectPrice</th>
                <th scope="col">bottomPrice</th>
                <th scope="col">Amount</th>
                <th scope="col">Available</th>
                <th scope="col">Create Date</th>
              </tr>
            </thead>
            <tbody id="sellTableTboday">
            </tbody>
          </table>
        </div>

        <div id="purchaseResult">
          <h4 class="display-5 text-center">查询结果</h4>
          <table id="purchaseTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Buyer</th>
                <th scope="col">expectPrice</th>
                <th scope="col">bottomPrice</th>
                <th scope="col">Amount</th>
                <th scope="col">Available</th>
                <th scope="col">Create Date</th>
              </tr>
            </thead>
            <tbody id="purchaseTableTboday">
            </tbody>
          </table>
        </div>

        <div id="tradeResult">
          <h4 class="display-5 text-center">查询结果</h4>
          <table id="tradeTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Seller</th>
                <th scope="col">Buyer</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Create Date</th>
              </tr>
            </thead>
            <tbody id="tradeTableTboday">
            </tbody>
          </table>
        </div>

      <div id="queryResultEmpty">
        <h4 class="display-4 text-center">Not record found</h3>
      </div>

    </div>
  </div>

  <div id="wait"
    style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
    <img src='/images/wait.gif' width="64" height="64" /><br>Loading..</div>
</body>

</html>
