<!--O'Reilly - Accelerated Hands-on Smart Contract Development with Hyperledger Fabric V2
 # farma ledger supply chain network
 # Author: Brian Wu
 # load application page
-->
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Electric</title>
  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link type="text/css" href="/css/main_style.css" rel="stylesheet">
  <script src="/js/producerClient.js"></script>
</head>

<body>
  <nav class="navbar navbar-light navbar-light" style="background-color: #343a40;margin-top: -3px;">
    <span class="navbar-brand text-white">用户交易系统</span>
    <p hidden id='username'><%= name %></p>
  </nav>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div id="sidebar-wrapper" class="sidebar-toggle">
        <ul class="sidebar-nav">
          <li id="tradeLink" class="nav-menu">
            <a id="menu1" href="#trade"><i class="fa fa-university menuIcon"></i>交易市场</a>
          </li>
          <li id="queryLink" class="nav-menu">
            <a id="menu2" href="#query"><i class="fa fa fa-history menuIcon"></i>信息查询</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- tab content -->
  <div class="tab-content page-content">
    <!-- accountTest --->
    <!-- tradeTest --->
    <div class="tab-pane text-style" id="tradeTab">
      <div class="alert alert-primary" role="alert">
        <h4>交易市场</h4>
      </div>
      <form>
        <div class="form-group row">
          <label for="price" class="col-sm-2 col-form-label">期望交易价格</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="trade-expectPrice" value="7.9">
          </div>
        </div>
        <div class="form-group row">
          <label for="price" class="col-sm-2 col-form-label">交易底价</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="trade-bottomPrice" value="10.2">
          </div>
        </div>
        <div class="form-group row">
          <label for="amount" class="col-sm-2 col-form-label">交易数量</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="trade-amount" value="240">
          </div>
        </div>
        <button type="submit" id="makeSellPretrade" class="btn btn-success mb-2">提交卖电需求订单</button>
        
      </form>
      <hr>
    </div>

    <!-- query --->
    <div class="tab-pane text-style" id="queryTab">
      <div class="alert alert-primary" role="alert">
        <h4>信息查询</h4>
      </div>
        <button id="account-query" type="submit" class="btn btn-success">账户信息</button>
        <button id="sell-query" type="submit" class="btn btn-success">卖电需求订单</button>
        <button id="trade-query" type="submit" class="btn btn-success" >交易信息</button>
      <hr>


      <div id="queryResult">
        
        <div id="accountResult">
          <h4 class="display-5 text-center">查询结果</h4>
          <table id="accountTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Amount</th>
                <th scope="col">Balance</th>
                <th scope="col">Permission</th>
                <th scope="col">Last Updated Date</th>
              </tr>
            </thead>
            <tbody id="accountTableTboday">
            </tbody>
          </table>
        </div>

        <div id="sellResult">
          <h4 class="display-5 text-center">查询结果</h4>
          <table id="sellTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Seller</th>
                <th scope="col">expectPrice</th>
                <th scope="col">bottomPrice</th>
                <th scope="col">Amount</th>
                <th scope="col">Available</th>
                <th scope="col">Create Date</th>
              </tr>
            </thead>
            <tbody id="sellTableTboday">
            </tbody>
          </table>
        </div>

        <div id="purchaseResult">
          <h4 class="display-5 text-center">查询结果</h4>
          <table id="purchaseTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Seller</th>
                <th scope="col">expectPrice</th>
                <th scope="col">bottomPrice</th>
                <th scope="col">Amount</th>
                <th scope="col">Available</th>
                <th scope="col">Create Date</th>
              </tr>
            </thead>
            <tbody id="purchaseTableTboday">
            </tbody>
          </table>
        </div>

        <div id="tradeResult">
          <h4 class="display-5 text-center">查询结果</h4>
          <table id="tradeTable" class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">Seller</th>
                <th scope="col">Buyer</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Create Date</th>
              </tr>
            </thead>
            <tbody id="tradeTableTboday">
            </tbody>
          </table>
        </div>

      </div>

      <div id="queryResultEmpty">
        <h4 class="display-4 text-center">Not record found</h3>
      </div>

    </div>
  </div>

  <div id="wait"
    style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;">
    <img src='/images/wait.gif' width="64" height="64" /><br>Loading..</div>
</body>

</html>
